#TW-ALL, #RCM-ALL, #LIQUIDITY-ALL, #AUTHDEALERS-ALL, #CUSTOMERS-ALL, #TWWALLET-ALL{
  cursor: pointer;
}






// SELECTORS: https://stackoverflow.com/questions/6910049/on-a-css-hover-event-can-i-change-another-divs-styling
// adjacent sibling combinator (+)
// general sibling combinator (~)

// #TW-HEADLINE:hover + #TW-TEXT{
//   opacity: 1;
// }

#TW-TEXT{
  opacity: 0;
  transition: all .6s ease;
  transform: translateY(0px);
  
}
#TW-ALL:hover #TW-TEXT{
  opacity: 1;
  transform: translateY(10px);
}
// #TW-CIRCLE-LOGO{
//   transition: all .6s ease;
//   transform-origin: 50% 50%;
// }
// #TW-ALL:hover #TW-CIRCLE-LOGO{
//   transform: scale(1.2);
//   transform-origin: 50% 50%;
// }





#RCM-TEXT{
  opacity: 0;
  transition: all .6s ease;
  transform: translateY(0px);
  
}
#RCM-ALL:hover #RCM-TEXT{
  opacity: 1;
  transform: translateY(10px);
}
// #RCM-LOGO{
//   transition: all .6s ease;
//   transform-origin: 50% 50%;
// }
// #RCM-ALL:hover #RCM-LOGO{
//   transform: scale(1.4);
//   transform-origin: 50% 50%;
// }





#Liquidity-TEXT{
  opacity: 0;
  transition: all .6s ease;
  transform: translateY(0px);
  
}
#LIQUIDITY-ALL:hover #Liquidity-TEXT{
  opacity: 1;
  transform: translateY(10px);
}
// #Liquidity-LOGO{
//   transition: all .6s ease;
//   transform-origin: 50% 50%;
// }
// #LIQUIDITY-ALL:hover #Liquidity-LOGO{
//   transform: scale(1.4);
//   transform-origin: 50% 50%;
// }





#AUTHDEALERS-TEXT{
  opacity: 0;
  transition: all .6s ease;
  transform: translateY(0px);
  
}
#AUTHDEALERS-ALL:hover #AUTHDEALERS-TEXT{
  opacity: 1;
  transform: translateY(10px);
}
// #AUTHDEALERS-LOGO{
//   transition: all .6s ease;
//   transform-origin: 50% 50%;
// }
// #AUTHDEALERS-ALL:hover #AUTHDEALERS-LOGO{
//   transform: scale(1.4);
//   transform-origin: 50% 50%;
// }





#Customers-TEXT{
  opacity: 0;
  transition: all .6s ease;
  transform: translateY(0px);
  
}
#CUSTOMERS-ALL:hover #Customers-TEXT{
  opacity: 1;
  transform: translateY(10px);
}
// #Customers-LOGO{
//   transition: all .6s ease;
//   transform-origin: 50% 50%;
// }
// #CUSTOMERS-ALL:hover #Customers-LOGO{
//   transform: scale(1.4);
//   transform-origin: 50% 50%;
// }







#TWWALLET-TEXT{
  opacity: 0;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
  -moz-transform: translateY(0px);
  transform: translateY(0px);
  
}
#TWWALLET-ALL:hover #TWWALLET-TEXT{
  opacity: 1;
  -moz-transform: translateY(10px);
  transform: translateY(10px);
}
#TWWALLET-LOGO{
  // position: absolute;
  // -moz-transition: all .6s ease;
  // transition: all .6s ease;
  // -moz-transform-origin: top left;
  // transform-origin: 100% 100%;
  // -moz-transform: scale(120%) rotate(0.02deg);
  // transform: scale(1.2);
}
#TWWALLET-ALL:hover #TWWALLET-LOGO{
  // position: absolute;
  // // -moz-transform: scale(160%) rotate(0.06deg);
  // // transform: scale(1.6);
  // -moz-transform-origin: top left;
  // transform-origin: 50% 50%;
}





//ONE-OFF TRANSLATE HEADLINE OVER
#TWWALLET-HEADLINE{
  transform: translateX(10px);
  -moz-transform: translateX(10px);
}