// COLORS
// vvv DodgerBlue
$lightblue:       #1a9afc;

// DESIGN 2 BACKGROUND COLOR:
$design2-light-gray: rgb(218, 218, 222);
$design2-light-gray-2: rgb(226, 226, 232);

// DESIGN 2 TEXT COLOR:
$design2-blue:       rgb(12, 0, 141);

// DESIGN 2 LIGHTER BLUE HOVER COLOR:
// $design2-blue-hover: rgb(0, 149, 255);
// $design2-blue-hover: rgb(21, 0, 255);

// $design2-blue-hover: rgb(0, 115, 255);
// $design2-blue-hover: #1a9afc;
$design2-blue-highlight: rgb(39, 93, 255);

// SVG COLORS
.darkOrange   {fill: #ffa200;}
.lightOrange  {fill: #ffd26e;}
.logo-blue    {fill: #082999;}
.svgWhite     {fill: #ffffff;}
.cls-1        {fill: #f5584e;}
.cls-3        {fill: #fff;}
.blue-4       {fill: #0d2e95;}
.darkBlue     {fill: #052175;}
.white-1      {fill: #fff;}
.iexblue-3    {fill: #11329d;}
.darkOrange   {fill: #ffa200;}
.lightOrange  {fill: #ffd26e;}
.cls-red      {fill: #f5584e;}
.cls-2        {fill: #fff;}

.design2-blue {fill: rgb(12, 0, 141)}
.design2-blue-highlight {fill: rgb(39, 111, 255)}


// BOOTSTRAP NOT IN THIS FILE. IT IS MANAGED BY GULPFILE.JS.  TO MANAGE BOOTSTRAP PARTIALS, revise "node_modules/bootstrap/ scss/bootstrap.scss"

body {
  background: $design2-light-gray;
  
  height: 100%;
  margin: 0;
  // background-repeat: no-repeat;
  background-attachment: fixed;
  color: $design2-blue;
}

.navWrapper {
  z-index: 999;
  @media #{$breakpoint-not-small} {
    // background: rgba(11, 46, 161, 0.9);
    background: $design2-light-gray;
  }
}

nav {
  // background: transparent;
  // opacity: 1;
  // z-index: 1000;
  // max-width: 1100px;
  a {
    text-decoration: none !important;
    transition: all 0.25s ease;
  }
  a:hover {
    color: $design2-blue-highlight;
  }
}

.navbar {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // z-index: 1000;
  max-width: 1100px;
  // width: 100%;
  margin: 0 auto;
}

// .mont{
//   font-family: $mont;
// }
.lora {
  font-family: $lora;
}

.prox {
  font-family: "proxima-nova", sans-serif;
}

.darkgold {
  color: $darkgold;
}

// BROWSERSYNC POP-UP
// #__bs_notify__ {
//   top:95% !important;
//   right: 10px !important;
//   border-radius: 15px !important;
//   height:60px !important; }

.logo {
  display: block;
  position: relative;
  top: -2px;
  height: auto;
  width: 140px;
  margin-right: 15px;
}

// .circle, .rect{
//   fill: white;
//   transition: all .5s ease-out;
//   opacity: .1;
// }

// .circle:hover, .rect:hover{
//   transform: translate(0, -15px);
//   opacity: .3;
// }

.icon {
  transition: all 0.5s ease-out;
  // opacity: .85;
}
.icon:hover {
  transform: translate(0, -12px);
  // opacity: 1;
}

// #icon-01e {
//   position:relative;
//   left:-25px;
// }
#icon-03e {
  position: relative;
  left: -15px;
}

// SIZE: "NOT-SMALL"
@media screen and (min-width: 30em) {
  // #icon-01e {
  //   left:-12px;
  // }
  #icon-03e {
    left: -10px;
  }
}

.smallBlue {
  // .f6 { font-size: .875rem; }
  // .f7 { font-size: .75rem; }
  // .f8 { font-size: .65rem; }
  font-size: 0.955rem;
  font-weight: bold;
  // font-size: .75rem;
  // color: $lightblue;
  color: $design2-blue-highlight;
  letter-spacing: 0.2em;
}

// .tracked { letter-spacing: .1em; }
// .tracked-tight { letter-spacing: -.05em; }
// .tracked-mega { letter-spacing: .25em; }

.up8px {
  position: relative;
  bottom: 8px;
}

.down15px {
  position: relative;
  top: 15px;
}

.down10px {
  position: relative;
  top: 10px;
}

#svgLogo,
#svgLogo2 {
  cursor: pointer;
}

// #logoSection{
//   display: grid;
//   grid-template-columns: 1fr 1fr 2fr;
//   grid-template-rows: 100px 200px 200px;
//   // grid-gap: 15px;    <--BOTH TOGETHER
//   grid-column-gap: 15px;
//   grid-row-gap: 15px;
// }

// #logoSection h1{

// }

#graphicDiv1 {
  max-width: 300px;
}

#graphicDiv2 {
  max-width: 290px;
}

section,
footer, .mw1100 {
  max-width: 1100px;
}

.mw1300 {
  max-width: 1300px;
}

.twoColGrid {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-areas:
    "blueHeader"
    "textBlock"
    "item1"
    "item2"
    "item3"
    "item4"
    "item5"
    "item6";
  grid-gap: 10px 40px;

  // CUSTOM TACHYONS *NS* BREAKPOINT
  // @media screen and (min-width: 44em){
  @media #{$breakpoint-not-small} {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "blueHeader blueHeader"
      "textBlock item1"
      "textBlock item2"
      "textBlock item3"
      "textBlock item4"
      "textBlock item5"
      "textBlock item6";
    grid-gap: 10px 40px;
  }
}

// CUSTOM TACHYONS *NS* BREAKPOINT
// $breakpoint-not-small: 'screen and (min-width: 44em)';

#LargeTextLeft {
  grid-area: textBlock;
}

#item1 {
  grid-area: item1;
}
#item2 {
  grid-area: item2;
}
#item3 {
  grid-area: item3;
}
#item4 {
  grid-area: item4;
}
#item5 {
  grid-area: item5;
}
#item6 {
  grid-area: item6;
}

.listItem {
  font-size: 18px;

  @media #{$breakpoint-not-small} {
    font-size: 12px;
    // line-height: 1rem;
    // margin-bottom: 1.5rem;
  }
}
.listItem svg {
  width: 15px;
}

.colWrapper {
  min-width: 240px;
  margin-bottom: 4.5rem;

  @media #{$breakpoint-not-small} {
  }
}

.x-mark {
  //  fill: purple;
  fill: #0098ff;
}

a {
  color: $design2-blue;
  opacity: 1;
  transition: all 0.3s ease;
  text-decoration: none;
}


.press .button{
  color: #082999 !important;
}

.button{
  color: #082999 !important;
}

// a:visited,
// a:active {
//   color: #ffffff;
// }

footer a:hover {
  opacity: 0.5;
}

.DG4-col__item {
  font-size: 1.2rem;

  @media #{$breakpoint-not-small} {
    font-size: 0.75rem;
  }
}



.checkmark {
  width: 1rem;
  padding-top: 1.2rem;
}

.x-mark {
  width: 1rem;
  padding-top: 1.2rem;
}

#quoteDiv {
  // padding-top: 130px;
}

// .personDiv img{
//   width: 350px;
// }

.person, .faq, .press {
  margin-bottom: 6rem;
}


.faq .title, .press .title{
  text-transform: capitalize;
}


.faqWrapper{
  max-width: 500px;
}

.maxWidth1100{
  max-width: 1100px;
}

.topSpacer {
  height: 70px;
  width: 1100px;
}


#openPositions a:hover {
  opacity: 0.4;
}




.ourplat-checkmark {
  min-width:25px;
  padding-top:20px;
  max-width: 30px;
  padding-right: 10px;

  @media #{$breakpoint-not-small} {
    min-width:25px;
    padding-top:20px;
    max-width: 40px;
    padding-right: 10px;
  }
}

.ourPlatItemWrapper{
  min-width: 190px;
  // max-width: 300px;
  // margin-right: 10px;
  padding-right: 10px;
}

#platformWrapper{
  max-width:1100px;

}

.DG_textBlock{
  float: left;
  width: 50%;
  // padding:1rem;
}
.DG_textBlock:nth-child(odd){
  padding-right:3rem;
}
.DG_textBlock:nth-child(even){
  padding-left:3rem;
}

.DG_title{
  // font-size: 1.8rem;
  text-transform: capitalize;
}

.DG_copy{
  line-height: 1.5rem;
}

.icon1{
  fill:rgb(255, 89, 74);
}
.icon2{
  fill:rgb(0, 152, 255);
}



.headshot{
  // max-width: 30%;
  // width: 300px;
  // height: ;

  max-width:300px;
  // max-height:95px;
  // width: auto;
  // height: auto;
}

.team img{
  // max-width:1100px;
}



// DESIGN-DIRECTION 2 STYLES
// DESIGN-DIRECTION 2 STYLES
// DESIGN-DIRECTION 2 STYLES

#sectionTwo, #logos, .fullwidth-wrapper-light{
  background: $design2-light-gray-2;
}

.shadow{
  -webkit-box-shadow: 7px 10px 300px -49px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 10px 300px -49px rgba(0,0,0,0.75);
box-shadow: 7px 10px 300px -49px rgba(0,0,0,0.75);
}