::selection{
  background: rgb(20, 0, 169);
  color: #fff;
  text-shadow: none;
}
::-moz-selection{
  background: rgb(20, 0, 169);
  color: #fff;
  text-shadow: none;
}
::-webkit-selection{
  background: rgb(20, 0, 169);
  color: #fff;
  text-shadow: none;
}
